[viewBag]
snippetCode = "latestPosts"
snippetName = "Latest blogposts"
==
{% set posts = latestPosts.posts %}

<div class="md:grid md:grid-cols-2 md:gap-8 lg:gap-20">

    {% for post in posts %}

    <div class="mb-8 md:mb-0 bg-white rounded-xl shadow-xl shadow-primary-400/30 p-4 sm:p-8 lg:p-16 lg:pb-8">
        <a href="/blog/{{ post.slug }}" class="relative overflow-hidden block mb-8 group">
            {% for image in post.featured_images %}
            <img src="{{ image.path }}" alt="{{ image.description }}" class="aspect-[4/3] transition duration-300 ease-linear object-cover object-center w-full h-full group-hover:scale-110">
            {% endfor %}
            <span class="absolute inset-0 bg-primary-400 opacity-0 group-hover:opacity-50 transition duration-300 ease-in-out"></span>
            <span class="absolute inset-0 block flex items-center justify-center z-10 text-white">
                <span class="w-12 h-12 rounded-full flex items-center justify-center bg-white text-primary mt-12 opacity-0 group-hover:mt-0 group-hover:opacity-100 transition-all ease-in-out duration-200 shadow-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                    </svg>
                </span>
            </span>
        </a>
        <h3 class="text-primary mb-4"><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h3>
        <div class="text-black leading-relaxed mb-8">
            {{ post.summary|raw }}
        </div>
        <div class="text-right">
            <a href="/blog/{{ post.slug }}" class="inline-flex items-center hover:text-primary">Read more <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
            </svg></a>
        </div>
    </div>

    {% else %}

    <div class="no-data col-span-2">{{ __SELF__.noPostsMessage }}</div>

    {% endfor %}

</div>

<div class="flex flex-wrap justify-center mt-24">
    <a href="/blog" class="px-16 lg:px-32 py-2 text-lg font-medium text-white bg-primary-400 hover:bg-primary rounded-lg">See all blogs</a>
</div>
