{% if faq.isLoggedIn %}
    {% set categories = faq.categories %}
{% else %}
    {% set categories = faq.categories.where('login_required', '=', false) %}
{% endif %}

<div class="mt-12 lg:mt-16 xl:24">
    <div class="max-w-4xl mx-auto px-4 lg:px-0">

        {% for cat in categories %}
            {% if faq.isLoggedIn %}
                {% set questions = cat.questions %}
            {% else %}
                {% set questions = cat.questions().where('login_required', '=', false).get() %}
            {% endif %}

            <div class="mb-16">
                <h3 class="text-center mb-6 pb-4 font-kurye border-b border-lead">{{ cat.title }}</h3>

                <dl class="space-y-12">

                    {% for q in questions %}
                    <div>
                        <dt class="text-xl leading-6 font-semibold text-gray-900">
                            {{ q.question }}
                        </dt>
                        <dd class="mt-2 text-lg text-gray-800 faq-answer">
                            {{ q.answer|raw }}
                        </dd>
                    </div>
                    {% endfor %}

                </dl>
            </div>
        {% endfor %}

    </div>

</div>
