<link rel="apple-touch-icon" sizes="180x180" href="/themes/sellfies/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/themes/sellfies/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/themes/sellfies/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/themes/sellfies/assets/img/favicon/site.webmanifest">