<script src="{{ ['assets/js/jquery-3.1.1.min.js']|theme }}"></script>
<script src="{{ ['assets/js/scripts.js']|theme }}"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

{% scripts %}

<script src="/themes/sellfies/assets/js/panelsnap.js"></script>