<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{% if this.page.meta_title %}
  <title>{{ this.page.meta_title }}</title>
  <meta name="title" content="{{ this.page.meta_title }}" />
  <meta property="og:title" content="{{ this.page.meta_title }}" />
{% else %}
  <title>{{ seo_title ? seo_title : this.page.title }}</title>
  <meta name="title" content="{{ seo_title ? seo_title : this.page.title }}" />
  <meta property="og:title" content="{{ seo_title ? seo_title : this.page.title }}" />
{% endif %}

{% if this.page.meta_description %}
  <meta name="description" content="{{ this.page.meta_description }}" />
  <meta property="og:description" content="{{ this.page.meta_description }}" />
{% else %}
  <meta name="description" content="{{ seo_description }}" />
  <meta property="og:description" content="{{ seo_description }}" />
{% endif %}

<meta name="keywords" content="{{ this.page.meta_keywords }}" />
{% if this.page.seo_image %}
<meta property="og:image" content="{{ this.page.seo_image.getPath() }}" />
{% endif %}

<script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="https://kit.fontawesome.com/068a99b28d.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>

<link rel="preload" href="/themes/sellfies/assets/fonts/Kurye-Light.woff2" as="font" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=BenchNine:wght@400&display=swap" rel="stylesheet">

<link href="{{ ['assets/css/style.css']|theme }}" rel="stylesheet" />
<link href="{{ ['assets/css/theme.css']|theme }}" rel="stylesheet" />
<link href="{{ ['assets/css/flag-icons.min.css']|theme }}" rel="stylesheet" />

{% styles %}

<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>