{% flash warning %}
<div class="w-full mb-4">
    <div class="p-2 rounded-lg bg-yellow-500 shadow-lg">
        <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
                <span class="flex p-2 rounded-lg bg-yellow-600 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </span>
                <p class="ml-3 font-medium text-white truncate">
                    {{ message }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endflash %}

{% flash error %}
<div class="w-full mb-4">
    <div class="p-2 rounded-lg bg-red-500 shadow-lg">
        <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
                <span class="flex p-2 rounded-lg bg-red-600 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </span>
                <p class="ml-3 font-medium text-white truncate">
                    {{ message }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endflash %}

{% flash info %}
<div class="w-full mb-4">
    <div class="p-2 rounded-lg bg-sky-500 shadow-lg">
        <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
                <span class="flex p-2 rounded-lg bg-sky-600 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </span>
                <p class="ml-3 font-medium text-white truncate">
                    {{ message }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endflash %}

{% flash success %}
<div class="w-full mb-4">
    <div class="p-2 rounded-lg bg-green-500 shadow-lg">
        <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
                <span class="flex p-2 rounded-lg bg-green-600 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </span>
                <p class="ml-3 font-medium text-white truncate">
                    {{ message }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endflash %}
