<div
    x-show="open"
    class="fixed w-[90%] h-full top-0 left-0 shadow-xl bg-white z-[999]"
    x-transition:enter="transition ease-in-out duration-300"
    x-transition:enter-start="-translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition ease-in-out duration-300"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="-translate-x-full"
    x-on:click.away="open = false"
    x-cloak
>
    <div class="p-4">
        <div class="flex justify-end">
            <div>

            </div>
            <div class="-mr-2">
                <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-primary hover:text-primary-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary" @click="open = false">
                    <span class="sr-only">Close menu</span>
                    <!-- Heroicon name: outline/x -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="">
            <nav class="grid gap-y-4">
                {% for item in mainMenu.menuItems  %}
                <a href="{{ item.url }}" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                    <span class="ml-3 text-lg font-medium text-lead hover:text-black {{ item.isActive or item.isChildActive ? 'text-primary' }}">
                        {{ item.title }}
                    </span>
                </a>
                {% endfor %}
            </nav>
        </div>
        <div class="mt-6 border-t border-primary pt-6">
            <a href="{{ "https://my.sellfies.com/register"|_ }}" class="inline-flex mb-6 px-8 py-2 text-xl rounded-xl bg-primary-400 text-white hover:bg-primary-200 transition duration-150 ease-in-out font-sans font-medium">{{ 'Create account'|_ }}</a>
            <a href="{{ 'https://my.sellfies.com/login'|_ }}" class="transition flex items-center font-light text-xl text-black hover:text-primary-200">
                {{ 'Login'|_ }}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
            </a>
        </div>
    </div>
</div>
