[staticPage]
useContent = 0
default = 0
==
<!doctype html>
<html lang="en" class="overflow-x-hidden lg:overflow-x-auto h-full">
    <head>
        {% partial "site/head" %}
        {% partial "site/favicon" %}
        {% placeholder head %}
    </head>

    <body class="h-full">
        {variable name="title" label="Title" tab="Content" type="text"}{/variable}
        {variable name="text" label="Text" tab="Content" type="richeditor"}{/variable}

        <div class="bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
            <div class="max-w-max mx-auto">
                <main class="sm:flex">
                    <p class="text-4xl font-extrabold text-primary sm:text-5xl">Coming soon</p>
                    <div class="sm:ml-6">
                        <div class="sm:border-l sm:border-gray-200 sm:pl-6">
                            {% page %}
                            <h1 class="mt-1">{{ title }}</h1>
                            <p class="mt-1 text-base text-gray-500">{{ text|raw }}</p>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>

</html>
