[staticPage]
useContent = 0
default = 1

[staticMenu mainMenu]
code = "mainmenu"

[staticMenu footerLeft]
code = "footer-left"

[staticMenu footerRight]
code = "footer-right"

[slider]

[blogPosts latestPosts]
pageNumber = 1
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "test"
postPage = "test"

[faq]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "test"
postPage = "test"

[genericForm contactForm]
rules[name] = "required"
rules[email] = "required|email"
rules[content] = "required"
rules_messages[name.required] = "We would like to know your name"
rules_messages[email.required] = "Email field is required"
rules_messages[email.email] = "Email address is invalid"
rules_messages[content.required] = "Message field is required"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
messages_partial = "contactForm/form_message.htm"
mail_enabled = 1
mail_subject = "New contact form submission - Sellfies"
mail_recipients[] = "support@sellfies.com"
mail_replyto = "email"
mail_template = "sellfies:contact:form"
mail_resp_enabled = 0
mail_resp_field = "email"
mail_resp_from = "support@sellfies.com"
mail_resp_subject = "Your message has been received - Sellfies.com"
mail_resp_template = "martin.forms::mail.autoresponse"
reset_form = 1
inline_errors = "variable"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 1
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"

[localePicker]
forceUrl = 0

[seo]
==
<!doctype html>
<html lang="en" class="overflow-x-hidden lg:overflow-x-auto">
<head>
    {% partial "site/scripts_head" %}
    {% partial "site/head" %}
    {% partial "site/favicon" %}
</head>

<body>
    {% partial "site/scripts_body_top" %}
    <div class="sticky top-0 z-50" x-data="{ open: false }">
        {% partial "layout/navbar" %}
    </div>

   <main class="relative pb-32 z-10">
       <div class="absolute inset-x-0 bottom-0 h-[500px] bg-gradient-to-b from-transparent to-primary-100/50 z-[0]"></div>

       <div class="relative pt-16">
            {% page %}

            {repeater tab="Content" name="flexible" prompt="Add" groups="$/../themes/sellfies/repeaters/components.yaml" displayMode="builder" titleFrom="name"}
                {% partial "sections/" ~ fields._group ~ ".htm" fields=fields %}
            {/repeater}
       </div>
   </main>

    {% partial "layout/footer" %}

    {% partial "flash_message" %}
    {% partial "site/foot" %}

    {% partial "site/scripts_body_bottom" %}

    {% scripts %}
    {% framework extras %}
</body>

</html>