[staticPage]
useContent = 0
default = 0

[staticMenu mainMenu]
code = "mainmenu"

[staticMenu footerLeft]
code = "footer-left"

[staticMenu footerRight]
code = "footer-right"

[slider]

[blogPosts latestPosts]
pageNumber = 1
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "test"
postPage = "test"

[faq]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "test"
postPage = "test"

[genericForm contactForm]
rules[name] = "required"
rules[email] = "required|email"
rules[content] = "required"
rules_messages[name.required] = "We would like to know your name"
rules_messages[email.required] = "Email field is required"
rules_messages[email.email] = "Email address is invalid"
rules_messages[content.required] = "Message field is required"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
messages_partial = "contactForm/form_message.htm"
mail_enabled = 1
mail_subject = "New contact form submission - Sellfies"
mail_recipients[] = "support@sellfies.com"
mail_replyto = "email"
mail_template = "sellfies:contact:form"
mail_resp_enabled = 0
mail_resp_field = "email"
mail_resp_from = "support@sellfies.com"
mail_resp_subject = "Your message has been received - Sellfies.com"
mail_resp_template = "martin.forms::mail.autoresponse"
reset_form = 1
inline_errors = "variable"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 1
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"

[localePicker]
forceUrl = 0

[seo]
==
<!doctype html>
<html lang="en" class="overflow-x-hidden lg:overflow-x-auto">
<head>
    {% partial "site/scripts_head" %}
    {% partial "site/head" %}
    {% partial "site/favicon" %}
</head>

<body class="hero-page">
    {% partial "site/scripts_body_top" %}
    <div class="sticky md:fixed md:inset-x-0 top-0 z-50" x-data="{ open: false }" :class="{ 'md:inset-0': open, 'md:top-0': !(open) }">
        {% partial "layout/navbar" %}
    </div>
    {variable type="section" label="First slide" tab="Hero" comment="This section contains content of the first slide."}{/variable}
    {variable name="title_first" label="Title" tab="Hero" type="text"}{/variable}
    {variable name="content_first" label="Text" tab="Hero" type="textarea"}{/variable}
    {variable name="button_text_first" label="Button text" tab="Hero" type="text"}{/variable}
    {variable name="button_link_first" label="Button link" tab="Hero" type="text"}{/variable}
    {variable type="section" label="Second slide" tab="Hero" comment="This section contains content of the second slide."}{/variable}
    {variable name="title_second" label="Title" tab="Hero" type="text"}{/variable}
    {variable name="content_second" label="Text" tab="Hero" type="textarea"}{/variable}
    {variable type="section" label="Third slide" tab="Hero" comment="This section contains content of the third slide."}{/variable}
    {variable name="title_third" label="Title" tab="Hero" type="text"}{/variable}
    {variable name="button_text_third" label="Button text" tab="Hero" type="text"}{/variable}
    {variable name="button_link_third" label="Button link" tab="Hero" type="text"}{/variable}

    <section id="hero-slide-0" class="relative panelsnap-panel" style="background-image: url(/themes/sellfies/assets/img/hero-bg-1.jpg); background-size:cover; background-repeat: no-repeat;">
        <div class="relative md:h-screen w-full flex items-center justify-center">
            <div class="max-w-7xl mx-auto px-4 lg:px-0">
                <div class="grid grid-cols-2 gap-4 lg:gap-32 items-center">
                    <div class="py-4 flex items-start lg:items-center justify-center relative">
                        <img src="/themes/sellfies/assets/img/video-bg.png" alt="" class="absolute z-20 bottom-12 left-0 w-2/3 sm:w-1/2 lg:w-2/3 _hero_video">
    
                        <img src="/themes/sellfies/assets/img/hero-blob-top.png" alt="" class="absolute z-10 top-0 lg:-right-28 w-2/3 md:w-auto hero_blur">
    
                        <span class="rotate-12 relative z-30">
                            <img src="/themes/sellfies/assets/img/lady-phone-1.png" alt="" class="h-40 sm:h-52 md:h-96 lg:h-[531px] relative z-50 phone_mockup" id="_hero-phone">
                        </span>
                    </div>
                    <div class="pr-4 lg:px-8 py-24 md:py-12 lg:py-0">
                        <div class="text-xl sm:text-2xl md:text-6xl lg:text-6xl xl:text-display font-kurye text-lead mb-2 sm:mb-4 lg:mb-8">
                            {{ title_first }}
                        </div>
                        <h3 class="text-sm sm:text-xl md:text-3xl text-primary font-raleway leading-relaxed">{{ content_first|raw }}</h3>
                        <a href="{{ button_link_third }}" class="mt-6 inline-block py-1.5 md:py-3 px-4 md:px-20 rounded-lg bg-primary-400 text-sm md:text-xl text-white font-sans font-medium hover:bg-primary-200 transition duration-150 ease-in-out whitespace-nowrap">
                                {{ button_text_first }}
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="hero-slide-1"  class="panelsnap-panel relative z-20">
        <div class="relative md:h-screen w-full flex items-center justify-center">
            <div class="max-w-7xl mx-auto px-4 lg:px-0 md:h-screen">
                <div class="md:grid grid-cols-2 md:h-screen">
                    <div class="absolute inset-0 md:left-0 md:inset-y-0 md:w-1/2 bg-gradient-to-b from-secondary-200 to-secondary-300 z-20">
                        <div class="md:absolute -top-6 lg:-top-12 -right-6 lg:-right-16"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-12 sm:w-16 md:w-24 lg:w-32 image_ornament_bottom" /></div>
                    </div>
                    <div class="relative flex items-center z-50">
                        <div class="w-full pt-24 pb-12 md:py-0 md:w-2/3">
                            <div class="text-xl sm:text-2xl md:text-6xl lg:text-6xl xl:text-display_xl font-kurye text-lead mb-2 sm:mb-4 lg:mb-8">
                                {{ title_second }}
                            </div>
                            <h3 class="text-sm sm:text-xl md:text-3xl text-primary font-raleway leading-relaxed">
                                <p>{{ content_second|raw }}</p>
                            </h3>
                        </div>
                    </div>
                    <div class="relative flex items-center z-40 ">
                        <div class="absolute left-16 bottom-52"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-12 sm:w-16 md:w-24 lg:w-32 image_ornament_bottom" /></div>
                        <img src="/themes/sellfies/assets/img/hero-blob-middle.png" alt="" class="absolute z-10 md:translate-y-28">
                        <img src="/themes/sellfies/assets/img/hero-illu-middle.png" alt="" class="absolute lg:-left-10 z-20 md:translate-y-20 lg:scale-110">
                        <span class="relative z-50 -translate-x-1/4 md:-translate-x-1/2">
                            <img src="/themes/sellfies/assets/img/lady-hero-2.png" alt="" class="hidden sm:block h-96 sm:h-96 md:h-96 lg:h-[631px] phone_mockup_2" id="herophone2">
                            <img src="/themes/sellfies/assets/img/lady-hero-3.png" alt="" class="md:hidden h-96 sm:h-96 md:h-96 lg:h-[631px] " id="">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="hero-slide-2" class="panelsnap-panel relative md:h-screen w-full flex items-center justify-center"  style="background-image: url(/themes/sellfies/assets/img/hero-bg-2.jpg); background-size:cover; background-repeat: no-repeat;">
        <div class="relative max-w-4xl mx-auto px-4 lg:px-0">
            <div class="hidden absolute lg:inset-0 items-center justify-center lg:block h-1/2 lg:h-auto">
                <img src="/themes/sellfies/assets/img/video-bg.png" alt="" class="block mx-auto video_background" />
            </div>
            <div class="relative z-20 py-12 sm:py-14 md:py-20 lg:py-24 text-center">
                <div class="flex items-center">
                    <div class="relative">
                        <div class="absolute -right-16 bottom-0"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-12 sm:w-16 md:w-24 lg:w-32 " /></div>
                        <img src="/themes/sellfies/assets/img/lady-phone-4.png" alt="" class="relative sm:h-52 md:h-96 lg:h-[515px]">
                    </div>
                    <div class="relative">
                        <div class="relative">
                            <h2 class="text-lg sm:text-2xl md:text-6xl lg:text-6xl font-kurye text-lead mb-2 sm:mb-4 lg:mb-8">{{ title_third }}</h2>
                            <a href="{{ button_link_third }}" class="inline-block py-1.5 md:py-3 px-8 md:px-20 rounded-lg bg-primary-400 text-base md:text-xl text-white font-sans font-medium hover:bg-primary-200 transition duration-150 ease-in-out whitespace-nowrap">
                                {{ button_text_third }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <section class="panelsnap-panel relative pb-32 z-10 pt-[134px]">
       <div class="absolute inset-x-0 bottom-0 h-[500px] bg-gradient-to-b from-transparent to-primary-100/50 z-[0]"></div>

       <div class="relative {{ this.page.url != '/' ? 'pt-16'}}">

            {repeater tab="Content" name="flexible" prompt="Add" groups="$/../themes/sellfies/repeaters/components.yaml" displayMode="builder"}
                {% partial "sections/" ~ fields._group ~ ".htm" fields=fields %}
            {/repeater}

            {% page %}
       </div>
   </section>

    {% partial "layout/footer" %}

    {% partial "flash_message" %}
    {% partial "site/foot" %}

    {% partial "site/scripts_body_bottom" %}
    
    {% scripts %}
    {% framework extras %}
</body>

</html>