<footer class="panelsnap-panel w-full bg-gray-500 text-white p-4 md:p-12">
    <div class="container mx-auto px-4 lg:px-0">
        <div class="md:flex flex-wrap flex-row justify-between container mx-auto px-4">
            <div class="pb-6 border-b border-ash mb-6 md:border-b-0 md:pb-0">
                <img src="/themes/sellfies/assets/img/logo-white.svg" alt="" class="mb-8">
                <div class="mb-3">&copy; {{ "now"|date("Y") }} {{ 'Sellfies.com'|_ }}</div>
                <div><a href="{{ 'https://sellfies.com/contact'|_ }}" class="hover:underline">{{ 'Contact'|_ }}</a></div>
            </div>
            <div class="pb-6 border-b border-ash mb-6 md:border-b-0 md:pb-0">
                <nav class="space-y-1">
                    {% for item in footerLeft.menuItems  %}
                    <a href="{{ item.url }}" class="flex items-center py-2 {{ item.isActive or item.isChildActive ? 'font-medium' }}"><span class="truncate">{{ item.title }}</span></a>
                    {% endfor %}
                </nav>
            </div>
            <div>
                <nav class="space-y-2">
                    {% for item in footerRight.menuItems  %}
                    <a href="{{ item.url }}" class="flex items-center py-2 {{ item.isActive or item.isChildActive ? 'font-medium' }}"><span class="truncate">{{ item.title }}</span></a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
</footer>
