<div class="bg-white/80 backdrop-blur-lg shadow-md shadow-primary/10 z-[999]" id="navbar">
    <div class="max-w-7xl mx-auto px-4 lg:px-0">
        <div class="flex flex-wrap items-center justify-end py-6 md:py-9">
            <a href="{{ '/'|_ }}" class="block" title="{{ 'Return to home'|_ }}">
                <img src="/themes/sellfies/assets/img/sellfies-logo.svg" alt="{{ 'Sellfies - Share your selfies for money'|_ }}" class="w-40 md:w-64">
            </a>

            <div class="lg:hidden ml-auto flex items-center">
                <button @click="open = ! open">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>

            <nav class="hidden lg:flex flex-wrap space-x-4 ml-auto">
                {% for item in mainMenu.menuItems  %}
                <a class="transition flex items-center font-light text-xl text-black hover:text-primary-200 {{ item.isActive or item.isChildActive ? 'text-primary hover:text-secondary font-normal' }}" href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
                <a href="{{ 'https://my.sellfies.com/login'|_ }}" class="transition flex items-center font-light text-xl text-black hover:text-primary-200">
                    {{ 'Login'|_ }}
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                    </svg>
                </a>
            </nav>

            <a href="{{ "https://my.sellfies.com/register"|_ }}" class="hidden md:inline-block px-8 py-2 text-xl rounded-xl bg-primary-400 text-white ml-8 hover:bg-primary-200 transition duration-150 ease-in-out font-sans font-medium">{{ 'Create account'|_ }}</a>
            {% component 'localePicker' %}

        </div>
    </div>
</div>
{% partial "mobile_nav" %}