{% set slides = __SELF__.testimonials %}

<div class="my-24">
    <div class="max-w-5xl mx-auto px-4 sm:px-0">
        <div class="relative md:rounded-xl bg-gradient-to-b from-silver-100 to-silver-200 p-4 md:p-8 shadow-lg shadow-purple">
            <div class="absolute -top-12 left-12 lg:left-24"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-20 image_ornament_top" /></div>
            <div class="absolute -bottom-10 right-12 lg:right-24"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-20 image_ornament_bottom" /></div>

            <div class="">

                <!-- slide buttons -->
                <div class="absolute left-0 inset-y-0 flex items-center pl-4 z-20">
                    <button class="slider-button-prev w-11 h-11 border border-ash rounded-full flex justify-center items-center text-6xl font-bench text-primary cursor-pointer hover:border-primary-200 transition shadow hover:shadow-float active:shadow-float-hover hover:bg-silver-100 relative md:static -top-24 lg:top-auto">
                        <!-- prev -->
                        <span class="relative -right-[2px] pointer-events-none cursor-pointer ">&lt;</span>
                    </button>
                </div>
                <div class="absolute right-0 inset-y-0 flex items-center pr-4 z-20">
                    <button class="slider-button-next w-11 h-11 border border-ash rounded-full flex justify-center items-center text-6xl font-bench text-primary cursor-pointer hover:border-primary-200 transition shadow hover:shadow-float active:shadow-float-hover hover:bg-silver-100 relative md:static -top-24 lg:top-auto">
                        <!-- next -->
                        <span class="relative -right-[5px] pointer-events-none cursor-pointer ">&gt;</span>
                    </button>
                </div>

                <div class="px-8 sm:px-16 md:px-20 lg:px-36 relative">
                    <div class="swiper w-full h-92">
                        <div class="swiper-wrapper">

                            {% for slide in slides %}

                            <div class="swiper-slide">
                                <div class="md:grid grid-cols-3 gap-16 py-8 lg:py-12">
                                    <div class="w-40 lg:w-auto mx-auto lg:mx-0 pb-16 lg:pb-0">
                                        <img src="/storage/app/media{{ slide.avatar }}" alt="" class="aspect-square rounded-full shadow">
                                    </div>
                                    <div class="col-span-2 w-full">
                                        <div class="relative mb-4">
                                            <div class="absolute h-16 w-16 -top-6 left-0 lg:-left-4">
                                                <svg class="h-16 w-16 text-primary-100" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                                </svg>
                                            </div>
                                            <div class="absolute h-16 w-16 -bottom-6 right-0 rotate-180">
                                                <svg class="h-16 w-16 text-primary-100" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                                </svg>
                                            </div>

                                            <div class="relative">
                                                <h3 class="text-xl sm:text-xl lg:text-3xl mb-2">{{ slide.title }}</h3>
                                                <div class="leading-relaxed text-sm md:text-base">
                                                    {{ slide.testimonial|raw }}
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="text-sm lg:text-lg text-primary">{{ slide.name }} - {{ slide.country }}</h4>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
