<!-- hero -->
<div class="relative mb-24">
    <div class="absolute left-0 bottom-0 w-1/2 h-52 bg-gradient-to-b from-secondary-200 to-secondary-300">
        <div class="absolute top-4 -right-8"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-32" /></div>
    </div>
    <div class="relative">
        <div class="max-w-7xl mx-auto px-4 sm:px-0">
            <div class="grid grid-cols-2 gap-32 items-center">
                <div class="py-16 flex items-center justify-center relative">
                    <img src="/themes/sellfies/assets/img/video-bg.png" alt="" class="absolute w-2/3 z-10 bottom-44 left-0">
                    <img src="/themes/sellfies/assets/img/hero-blur.png" alt="" class="absolute top-0 -right-24 rotate-12">
                    <img src="/themes/sellfies/assets/img/phone-mockup.png" alt="" class="rotate-12 h-[526px] relative z-50">
                </div>
                <div class="pl-8">
                    <div class="text-display font-kurye text-lead mb-8">
                        Do you share private pics for free?
                    </div>
                    <h3 class="text-primary font-raleway">Why share your intimate pictures for free when you could get paid for your excisting personal images?</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- cards -->
<div class="max-w-6xl mx-auto px-4 sm:px-0 mt-24">
    <h2 class="text-center">3 simple steps to get paid</h2>
    <div class="lg:grid lg:grid-cols-3 lg:gap-32 mt-16">
        <div class="p-8 rounded-lg shadow-float hover:shadow-float-hover transition-all duration-150 ease-in-out">
            <div class="my-6">
                <img src="/themes/sellfies/assets/img/icn-steps-1.svg" alt="" class="mx-auto block w-24">
            </div>
            <h3 class="text-center">Create Account</h3>
            <div class="mt-3">
                Register your details, answer some questions, get verified and your`re ready to upload selfies.
            </div>
        </div>

        <div class="p-8 rounded-lg shadow-float hover:shadow-float-hover transition-all duration-150 ease-in-out">
            <div class="my-6">
                <img src="/themes/sellfies/assets/img/icn-steps-1.svg" alt="" class="mx-auto block w-24">
            </div>
            <h3 class="text-center">Create Account</h3>
            <div class="mt-3">
                Register your details, answer some questions, get verified and your`re ready to upload selfies.
            </div>
        </div>

        <div class="p-8 rounded-lg shadow-float hover:shadow-float-hover transition-all duration-150 ease-in-out">
            <div class="my-6">
                <img src="/themes/sellfies/assets/img/icn-steps-1.svg" alt="" class="mx-auto block w-24">
            </div>
            <h3 class="text-center">Create Account</h3>
            <div class="mt-3">
                Register your details, answer some questions, get verified and your`re ready to upload selfies.
            </div>
        </div>
    </div>
</div>

<!-- accent banner -->
<div class="mt-24 bg-primary-100 py-20">
    <div class="max-w-6xl mx-auto px-4 sm:px-0">
        <div class="lg:grid lg:grid-cols-2 lg:gap-24">
            <div>
                <h4 class="text-primary mb-2">Find out more</h4>
                <h2>How can I make money on sending my selfies to you?</h2>
                <div class="prose prose-fuchsia mt-4">
                    <p>Today websites and companys can use your online images <b>for free</b> to promote their brand and services. If you are already sharing images of yourself online on open platforms your image have most likely been used already.</p>

                    <p>We are happy to pay for your selfie, so your image is not used without you being paid. We ask for your specific consent to send us your images, we will use your images on our partners websites, and you get paid for that service.
                        <a href="#">Sellfies.com</a> goal is to ensure that adult websites today only use images that they have permission to use.</p>
                </div>
            </div>
            <div>
                <img src="/themes/sellfies/assets/img/img-findoutmore.webp" alt="" class="max-w-full">
            </div>
        </div>
    </div>
</div>

<!-- video banner -->
<div class="mt-20">
    <div class="max-w-5xl mx-auto px-4 sm:px-0">

        <div class="relative">
            <div class="absolute inset-0">
                <img src="/themes/sellfies/assets/img/video-bg.png" alt="" class="block mx-auto" />
            </div>
            <div class="relative z-20 py-24">
                <h2 class="text-center">Give a look to our process</h2>
                <a href="#" class="block relative mt-16 w-[660px] mx-auto group">
                    <div class="absolute -top-12 right-16"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-24" /></div>
                    <div class="absolute -bottom-8 left-16"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-24" /></div>
                    <span class="absolute inset-0 bg-white opacity-10 z-20"></span>
                    <span class="absolute inset-0 flex items-center justify-center z-30">
                        <span class="w-24 h-12 rounded-md flex items-center justify-center bg-secondary text-primary text-xl group-hover:bg-secondary-400 shadow transition">
                            <i class="fas fa-play relative top-0.5"></i>
                        </span>
                    </span>
                    <img src="/themes/sellfies/assets/img/video-preview.jpg" alt="" class="w-[660px] aspect-video shadow-md rounded block mx-auto relative z-10" />
                </a>
            </div>
        </div>

    </div>
</div>

<!-- text/img -->
<div class="mt-24 py-16">
    <div class="max-w-5xl mx-auto px-4 sm:px-0">
        <div class="lg:grid lg:grid-cols-2 lg:gap-36 items-center">
            <div class="order-1">
                <h4 class="text-primary mb-2">Step 1</h4>
                <h2>Create your account</h2>
                <div class="prose prose-fuchsia mt-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="order-2">
                <div class="relative inline-block">
                    <div class="absolute -top-6 -right-6"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-24" /></div>
                    <div class="absolute -bottom-4 -left-8"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-24" /></div>
                    <img src="/themes/sellfies/assets/img/step1.jpg" alt="" class="relative block">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- text/img -->
<div class="mt-24 py-16 bg-snow">
    <div class="max-w-5xl mx-auto px-4 sm:px-0">
        <div class="lg:grid lg:grid-cols-2 lg:gap-36 items-center">
            <div class="order-2">
                <h4 class="text-primary mb-2">Step 2</h4>
                <h2>Upload your selfies</h2>
                <div class="prose prose-fuchsia mt-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="order-1">
                <div class="relative inline-block">
                    <div class="absolute -top-6 -right-6"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-24" /></div>
                    <div class="absolute -bottom-4 -left-8"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-24" /></div>
                    <img src="/themes/sellfies/assets/img/step2.jpg" alt="" class="relative block">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- text/img -->
<div class="mt-24 py-16">
    <div class="max-w-5xl mx-auto px-4 sm:px-0">
        <div class="lg:grid lg:grid-cols-2 lg:gap-36 items-center">
            <div class="order-1">
                <h4 class="text-primary mb-2">Step 3</h4>
                <h2>Receive payment</h2>
                <div class="prose prose-fuchsia mt-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="order-2">
                <div class="relative inline-block">
                    <div class="absolute -top-6 -right-6"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-24" /></div>
                    <div class="absolute -bottom-4 -left-8"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-24" /></div>
                    <img src="/themes/sellfies/assets/img/step3.jpg" alt="" class="relative block">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pricing -->
<div class="mt-24 bg-primary-100 py-20">
    <div class="max-w-3xl mx-auto py-12 px-4 sm:px-6 lg:py-16">
        <h2 class="text-center mb-20">What you can earn:</h2>

        <div class="md:grid md:grid-cols-2 md:gap-20 mb-12">

            <div class="bg-white rounded-md shadow-md relative text-center p-10 pt-0 mb-16 md:mb-0">
                <div class="bg-secondary text-white rounded-md py-3 flex flex-wrap w-full justify-center items-center shadow-float-black font-kurye -translate-y-8 text-3xl">
                    Base
                </div>
                <div class="text-4xl font-extrabold mb-8 font-sans">From<br> &euro; 50,00</div>
                <div class="text-lead font-sans">
                    3 normal pictures <br>
                    + 2 flirty pictures<br>
                    + 1 sexy picture<br>
                </div>
            </div>

            <div class="bg-white rounded-md shadow-md relative text-center p-10 pt-0">
                <div class="bg-primary text-white rounded py-3 flex flex-wrap w-full justify-center items-center shadow-float-black font-kurye -translate-y-8 text-3xl">
                    Kinky
                </div>
                <div class="text-4xl font-extrabold mb-8 font-sans"><span class="text-xl font-bold text-zinc-400 uppercase">Up to</span><br> &euro; 300,00</div>
                <div class="text-lead ">
                    3 normal pictures <br>
                    + 2 sexy pictures<br>
                    + 2 adult pictures<br>
                    + explicit picture
                </div>
            </div>

        </div>

        <div class="text-center px-4 sm:px-8 lg:px-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
    </div>
</div>

<!-- sign up -->
<div class="bg-white py-24">
    <div class="max-w-5xl mx-auto ">
        <h2 class="text-center mb-12">Start earning today!</h2>
        <div class="flex flex-wrap justify-center">
            <a href="#" class="px-32 py-2 text-lg font-medium text-white bg-secondary hover:bg-secondary-400 rounded-lg">Sign me up!</a>
        </div>
    </div>
</div>


<!-- testimonial slider -->
<div class="my-24">
    <div class="max-w-5xl mx-auto px-4 sm:px-0">
        <div class="relative md:rounded-xl bg-gradient-to-b from-silver-100 to-silver-200 p-8 shadow-lg shadow-purple">
            <div class="absolute -top-12 left-24"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-20" /></div>
            <div class="absolute -bottom-10 right-24"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-20" /></div>

            <div class="">

                <!-- slide buttons -->
                <div class="absolute left-0 inset-y-0 flex items-center pl-4 z-20">
                    <button class="slider-button-prev w-11 h-11 border border-ash rounded-full flex justify-center items-center text-6xl font-bench text-primary cursor-pointer hover:border-primary-200 transition shadow hover:shadow-float active:shadow-float-hover hover:bg-silver-100">
                        <!-- prev -->
                        <span class="relative -right-[2px] pointer-events-none cursor-pointer ">&lt;</span>
                    </button>
                </div>
                <div class="absolute right-0 inset-y-0 flex items-center pr-4 z-20">
                    <button class="slider-button-next w-11 h-11 border border-ash rounded-full flex justify-center items-center text-6xl font-bench text-primary cursor-pointer hover:border-primary-200 transition shadow hover:shadow-float active:shadow-float-hover hover:bg-silver-100">
                        <!-- next -->
                        <span class="relative -right-[5px] pointer-events-none cursor-pointer ">&gt;</span>
                    </button>
                </div>

                <div class="px-8 sm:px-16 md:px-20 lg:px-36 relative">
                    <div class="swiper w-full h-72">
                        <div class="swiper-wrapper">


                            <div class="swiper-slide">
                                <div class="grid grid-cols-3 gap-16 py-8 lg:py-12">
                                    <div class="flex justify-center">
                                        <img src="/themes/sellfies/assets/img/step1.jpg" alt="" class="aspect-square rounded-full w-44 shadow">
                                    </div>
                                    <div class="col-span-2 w-full">
                                        <div class="relative mb-4">
                                            <div class="absolute h-16 w-16 -top-6 -left-4">
                                                <svg class="h-16 w-16 text-primary-100" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                                </svg>
                                            </div>
                                            <div class="absolute h-16 w-16 -bottom-6 right-0 rotate-180">
                                                <svg class="h-16 w-16 text-primary-100" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                                </svg>
                                            </div>

                                            <div class="relative">
                                                <h3 class="mb-2">Amazing experience</h3>
                                                <div class="leading-relaxed">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="text-primary">Maria Kirizta - England</h4>
                                    </div>
                                </div>
                            </div>


                            <div class="swiper-slide">
                                <div class="grid grid-cols-3 gap-16 py-8 lg:py-12">
                                    <div class="flex justify-center">
                                        <img src="/themes/sellfies/assets/img/step1.jpg" alt="" class="aspect-square rounded-full w-44 shadow">
                                    </div>
                                    <div class="col-span-2 w-full">
                                        <div class="relative mb-4">
                                            <div class="absolute h-16 w-16 -top-6 -left-4">
                                                <svg class="h-16 w-16 text-primary-100" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                                </svg>
                                            </div>
                                            <div class="absolute h-16 w-16 -bottom-6 right-0 rotate-180">
                                                <svg class="h-16 w-16 text-primary-100" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                                </svg>
                                            </div>

                                            <div class="relative">
                                                <h3 class="mb-2">Amazing experience</h3>
                                                <div class="leading-relaxed">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="text-primary">Maria Kirizta - England</h4>
                                    </div>
                                </div>
                            </div>


                            <div class="swiper-slide">
                                <div class="grid grid-cols-3 gap-16 py-8 lg:py-12">
                                    <div class="flex justify-center">
                                        <img src="/themes/sellfies/assets/img/step1.jpg" alt="" class="aspect-square rounded-full w-44 shadow">
                                    </div>
                                    <div class="col-span-2 w-full">
                                        <div class="relative mb-4">
                                            <div class="absolute h-16 w-16 -top-6 -left-4">
                                                <svg class="h-16 w-16 text-primary-100" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                                </svg>
                                            </div>
                                            <div class="absolute h-16 w-16 -bottom-6 right-0 rotate-180">
                                                <svg class="h-16 w-16 text-primary-100" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                                                    <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                                                </svg>
                                            </div>

                                            <div class="relative">
                                                <h3 class="mb-2">Amazing experience</h3>
                                                <div class="leading-relaxed">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="text-primary">Maria Kirizta - England</h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- cta banner -->
<div class="mt-32 pt-24 lg:py-24">
    <div class="lg:relative">
        <div class="hidden lg:block lg:absolute inset-0">
            <div class="lg:mx-auto lg:max-w-5xl relative h-full">
                <div class="absolute -bottom-16 -right-16"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-44" /></div>
            </div>
        </div>
        <div class="pb-16 bg-primary-100 lg:pb-0 lg:z-10 lg:relative">
            <div class="lg:mx-auto lg:max-w-5xl lg:grid lg:grid-cols-2 lg:gap-8 relative z-10">
                <div class="mt-12 lg:m-0">
                    <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-12 lg:max-w-none">
                        <h2>Start earning today!</h2>
                        <div class="prose prose-fuchsia my-4 text-black">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <a href="#" class="inline-flex px-12 py-4 text-lg font-bold text-white bg-secondary hover:bg-secondary-400 rounded-lg">Become a model</a>
                    </div>
                </div>
                <div class="relative lg:-my-8">
                    <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-white lg:hidden"></div>
                    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
                        <div class="lg:h-full">
                            <img class="aspect-[4/3] shadow-xl" src="/themes/sellfies/assets/img/img-startearning.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- latest blogs -->
<div class="mt-24 relative pt-16 pb-32">
    <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gradient-to-b from-transparent to-primary-100/50"></div>
    <div class="max-w-6xl mx-auto px-4 sm:px-0 relative z-10">
        <h2 class="text-center mb-16">Our Blog</h2>
        <div class="lg:grid lg:grid-cols-2 lg:gap-20">
            <div class="bg-white rounded-xl shadow-xl shadow-primary-400/30 p-16 pb-8">
                <a href="#" class="block mb-8">
                    <img src="/themes/sellfies/assets/img/img-blog-1.jpg" alt="" class="aspect-[4/3]">
                </a>
                <h3 class="text-primary mb-4"><a href="/">FAQs for Influencers!</a></h3>
                <div class="text-black leading-relaxed mb-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="text-right">
                    <a href="/" class="inline-flex items-center hover:text-primary">Read more <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                    </svg></a>
                </div>
            </div>
            <div class="bg-white rounded-xl shadow-xl shadow-primary-400/30 p-16 pb-8">
                <a href="#" class="block mb-8">
                    <img src="/themes/sellfies/assets/img/img-blog-2.jpg" alt="" class="aspect-[4/3]">
                </a>
                <h3 class="text-primary mb-4"><a href="/">FAQs for Influencers!</a></h3>
                <div class="text-black leading-relaxed mb-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="text-right">
                    <a href="/" class="inline-flex items-center hover:text-primary">Read more <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                    </svg></a>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center mt-24">
            <a href="#" class="px-32 py-2 text-lg font-medium text-white bg-primary-400 hover:bg-primary rounded-lg">Get all entries</a>
        </div>
    </div>
</div>
