[viewBag]
snippetCode = "blogPosts"
snippetName = "Blog posts"
==
{% set posts = blogPosts.posts %}

<div class="relative pt-16">
    <div class="max-w-7xl mx-auto px-4 lg:px-0">
        <div class="text-center mb-8">
            <h1>Blog</h1>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-16">
            {% for post in posts %}
                {% set post = post.noFallbackLocale() %}
                {% if post.title %}
                    <div class="mb-8 md:mb-0">
                        <div class="mb-7">
                            <a href="{{ this.page.url }}/{{ post.slug }}" class="relative overflow-hidden block rounded-xl mb-8 group">
                                {% for image in post.featured_images %}
                                <img src="{{ image.path }}" alt="{{ image.description }}" class="aspect-[3/2] transition duration-300 ease-linear object-cover object-center w-full h-full group-hover:scale-110">
                                {% endfor %}
                                <span class="absolute inset-0 bg-primary-400 opacity-0 group-hover:opacity-50 transition duration-300 ease-in-out"></span>
                                <span class="absolute inset-0 block flex items-center justify-center z-10 text-white">
                                    <span class="w-12 h-12 rounded-full flex items-center justify-center bg-white text-primary mt-12 opacity-0 group-hover:mt-0 group-hover:opacity-100 transition-all ease-in-out duration-200 shadow-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <h3 class="text-primary mb-4"><a href="{{ this.page.url }}/{{ post.slug }}">{{ post.title }}</a></h3>
                        <div class="text-black leading-relaxed mb-4">
                            {{ post.summary|raw }}
                        </div>
                        <div class="text-right">
                            <a href="{{ this.page.url }}/{{ post.slug }}" class="inline-flex items-center hover:text-primary">Read more <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                            </svg></a>
                        </div>
                    </div>
                {% endif %}

            {% else %}

            <div class="no-data col-span-2">{{ __SELF__.noPostsMessage }}</div>

            {% endfor %}
        </div>

        {% if posts.lastPage > 1 %}
        <div class="mt-8 py-3 flex items-center justify-between">
            <div class="flex-1 flex justify-between">
                {% if posts.currentPage > 1 %}
                    <a href="{{ this.page.url ~ '?page=' ~ (posts.currentPage-1) }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> &larr; </a>
                {% endif %}
                {% if posts.lastPage > posts.currentPage %}
                    <a href="{{ this.page.url ~ '?page=' ~ (posts.currentPage+1) }}" class="{% if posts.currentPage > 1 %}ml-3{% endif %} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> &rarr; </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>