<div class="relative inline-block text-left ml-6" x-data="{ open: false }">
  <div>
    <button type="button" class="text-xl active:outline-none focus:outline-none " id="menu-button" aria-expanded="true" aria-haspopup="true" @click="open = !(open)">
             {% if activeLocale == 'en' %}
                <i class="fi fi-us"></i>
            {% else %}
                <i class="fi fi-{{ activeLocale }}"></i>
            {% endif %}
    </button>
  </div>

    <div class="origin-top-right absolute right-0 mt-2 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" x-show="open"
    class="absolute z-[999] right-0 transform mt-2.5 md:mt-4 px-2 w-screen max-w-xs sm:px-0"
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0 -translate-y-1"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="transition ease-in duration-150"
    x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-0 -translate-y-1"
    x-on:click.away="open = false"
    x-cloak>
        <div class="py-1" role="none">

        {% for code, name in locales %}
            <a href="#" data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'" class="text-gray-700 px-4 py-2 text-sm flex items-center hover:bg-gray-50" role="menuitem" tabindex="-1">
            {% if code == 'en' %}
                <i class="fi fi-us"></i>
            {% else %}
                <i class="fi fi-{{ code }}"></i>
            {% endif %}

            <div class="ml-2">{{ name }}</div>
            </a>
        {% endfor %}

        </div>
    </div>
</div>
