{% set post = __SELF__.post %}
{% set baseUrl = this.page.url|replace({'/:slug': ''}) %}
<div class="bg-secondary-100 pt-24 relative">
    <div class="max-w-6xl mx-auto px-4 lg:px-0">
        <nav class="flex" aria-label="Breadcrumb">
            <ol role="list" class="flex items-center space-x-4">
                <li>
                    <div class="flex items-center">
                        <a href="/" class="font-medium text-lead hover:text-black">Home</a>
                    </div>
                </li>

                <li>
                    <div class="flex items-center">
                        <svg class="flex-shrink-0 h-5 w-5 text-lead" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                        <a href="{{ baseUrl }}" class="ml-2 font-medium text-lead hover:text-black">Blog</a>
                    </div>
                </li>

                <li>
                    <div class="flex items-center">
                        <svg class="flex-shrink-0 h-5 w-5 text-lead" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                        <span class="ml-2 font-medium text-lead" aria-current="page">{{ post.title }}</span>
                    </div>
                </li>
            </ol>
        </nav>

        <div class="py-16">
            <h1 class="font-kurye text-center">{{ post.title }}</h1>
        </div>
    </div>

    <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-white"></div>
        <div class="max-w-6xl mx-auto px-4 lg:px-0 relative">
            {% for image in post.featured_images %}
            <div class="aspect-video overflow-hidden flex justify-center">
                <img src="{{ image.path }}" data-src="{{ image.filename }}" alt="{{ image.description }}" class="object-cover rounded-2xl">
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<div class="max-w-6xl mx-auto px-4 lg:px-0 relative">
    <div class="
        prose
        prose-fuchsia
        prose-h3:text-3xl
        prose-h2:text-title
        prose-h2:mt-0
        max-w-none
        py-16
    ">
        {{ post.content_html|raw }}
    </div>
</div>
