{% set count = fields.text_block|length %}

<div class="{{ count > 1 ? 'max-w-5xl' : 'max-w-4xl' }} mx-auto px-4 lg:px-0">
    <div class="md:grid md:grid-cols-{{ count }} md:gap-12">
        {% for item in fields.text_block %}
        <div class="mb-8 md:mb-0 prose prose-fuchsia max-w-none">
            {{ item.content|raw }}
        </div>
        {% endfor %}
    </div>
</div>
