<div class="max-w-6xl mx-auto px-4 lg:px-0 mt-12 sm:mt-16 lg:mt-24">
    <h2 class="text-center">{{ fields.title }}</h2>
    <div class="md:grid md:grid-cols-3 md:gap-8 lg:gap-32 mt-16">
        {% for card in fields.cards %}
        <div class="p-8 rounded-lg shadow-float-hover lg:shadow-float hover:shadow-float-hover transition-all duration-150 ease-in-out mb-12">
            <div class="my-6">
                <div class="block w-full" title="{{ card.title }}">
                    <img src="/storage/app/media{{ card.icon }}" alt="" class="mx-auto block w-24">
                </div>
            </div>
            <h3 class="text-center">{{ card.title }}</h3>
            <div class="mt-3">
                {{ card.content }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
