<div class="bg-white py-24">
    <div class="max-w-5xl mx-auto ">
        <h2 class="text-center mb-12">{{ fields.title }}</h2>
        <div class="flex flex-wrap justify-center">
            <a href="{{ fields.button_url }}" class="px-32 py-2 text-lg font-medium text-white bg-secondary hover:bg-secondary-400 rounded-lg">{{ fields.button_text }}</a>
        </div>
    </div>
</div>
