<div class="mt-32 pt-24 lg:py-24">
    <div class="lg:relative">
        <div class="hidden lg:block lg:absolute inset-0">
            <div class="lg:mx-auto lg:max-w-5xl relative h-full">
                <div class="absolute -bottom-16 -right-16"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-44 image_ornament_bottom" /></div>
            </div>
        </div>
        <div class="pb-16 bg-primary-100 lg:pb-0 lg:z-10 lg:relative">
            <div class="lg:mx-auto lg:max-w-5xl flex flex-wrap lg:grid lg:grid-cols-2 lg:gap-8 relative z-10">
                <div class="order-2 lg:order-1 mt-12 lg:m-0 w-full">
                    <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-12 lg:max-w-none">
                        <h2>{{ fields.title }}</h2>
                        <div class="prose prose-fuchsia my-4 text-black">
                            {{ fields.content|raw }}
                        </div>
                        <a href="{{ fields.button_url }}" class="inline-flex px-12 py-4 text-lg font-bold text-white bg-secondary hover:bg-secondary-400 rounded-lg">{{ fields.button_text }}</a>
                    </div>
                </div>
                <div class="order-1 lg:order-2 lg:relative lg:-my-8 w-full">
                    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
                        <div class="lg:h-full">
                            <img class="aspect-[4/3] shadow-xl -mt-16 lg:mt-0 object-cover" src="/storage/app/media{{ fields.image }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
