<div id="hero-wrapper" class="">
    <section id="hero-slide-0" class="relative">
        <div class="relative md:h-screen w-full flex items-center justify-center">
            <div class="max-w-7xl mx-auto px-4 lg:px-0">
                <div class="grid grid-cols-2 gap-8 lg:gap-32 items-center">
                    <div class="py-4 flex items-start lg:items-center justify-center relative">
                        <img src="/themes/sellfies/assets/img/video-bg.png" alt="" class="absolute z-20 bottom-12 left-0 w-2/3 sm:w-1/2 lg:w-2/3 _hero_video">
    
                        <img src="/themes/sellfies/assets/img/hero-blob-top.png" alt="" class="absolute z-10 top-0 lg:-right-28 w-2/3 md:w-auto hero_blur">
    
                        <span class="rotate-12 relative z-50">
                            <img src="/themes/sellfies/assets/img/phone-mockup-1.png" alt="" class="h-40 sm:h-52 md:h-96 lg:h-[531px] relative z-50 phone_mockup" id="_hero-phone">
                        </span>
                    </div>
                    <div class="px-4 lg:px-8">
                        <div class="text-lg sm:text-2xl md:text-6xl lg:text-6xl xl:text-display font-kurye text-lead mb-2 sm:mb-4 lg:mb-8">
                            {{ fields.title_first }}
                        </div>
                        <h3 class="text-sm sm:text-xl md:text-3xl text-primary font-raleway">{{ fields.content_first|raw }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="hero-slide-1"  class="relative z-20 mb-12 lg:mb-24">
        <div class="relative md:h-screen w-full flex items-center justify-center">
            <div class="max-w-7xl mx-auto px-4 lg:px-0 h-screen">
                <div class="grid grid-cols-2 h-screen">
                    <div class="absolute left-0 inset-y-0 w-1/2 bg-gradient-to-b from-secondary-200 to-secondary-300 z-20">
                        <div class="absolute -top-6 lg:-top-12 -right-6 lg:-right-16"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-12 sm:w-16 md:w-24 lg:w-32 image_ornament_bottom" /></div>
                    </div>
                    <div class="relative flex items-center z-50">
                        <div class="w-2/3">
                            <div class="text-lg sm:text-2xl md:text-6xl lg:text-6xl xl:text-display_xl font-kurye text-lead mb-2 sm:mb-4 lg:mb-8">
                                {{ fields.title_second }}
                            </div>
                            <h3 class="text-sm sm:text-xl md:text-3xl text-primary font-raleway">
                                <p>{{ fields.content_second|raw }}</p>
                            </h3>
                        </div>
                    </div>
                    <div class="relative flex items-center z-40">
                        <div class="absolute left-16 bottom-52"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-12 sm:w-16 md:w-24 lg:w-32 image_ornament_bottom" /></div>
                        <img src="/themes/sellfies/assets/img/hero-blob-middle.png" alt="" class="absolute z-10 translate-y-28">
                        <img src="/themes/sellfies/assets/img/hero-illu-middle.png" alt="" class="absolute lg:-left-10 z-20 translate-y-20 lg:scale-110">
                        <span class="relative z-50 -translate-x-1/2">
                            <img src="/themes/sellfies/assets/img/phone-mockup-2.png" alt="" class="sm:h-52 md:h-96 lg:h-[631px] phone_mockup_2" id="herophone2">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="hero-slide-2" class="relative">
        <div class="relative md:h-screen w-full flex items-center justify-center">
            <div class="relative max-w-4xl mx-auto px-4 lg:px-0">
                <div class="hidden absolute lg:inset-0 items-center justify-center lg:block h-full lg:h-auto">
                    <img src="/themes/sellfies/assets/img/video-bg.png" alt="" class="block mx-auto video_background" />
                </div>
                <div class="relative z-20 py-12 sm:py-14 md:py-20 lg:py-24 text-center">
                    <div class="flex items-center">
                        <div class="relative">
                            <div class="absolute -right-16 bottom-0"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-12 sm:w-16 md:w-24 lg:w-32 " /></div>
                            <img src="/themes/sellfies/assets/img/phone-mockup-3.png" alt="" class="relative sm:h-52 md:h-96 lg:h-[515px]">
                        </div>
                        <div class="relative">
                            <div class="relative">
                                <h2 class="text-lg sm:text-2xl md:text-6xl lg:text-6xl font-kurye text-lead mb-2 sm:mb-4 lg:mb-8">{{ fields.title_third }}</h2>
                                <a href="{{ fields.button_text_third }}" class="py-3 px-20 rounded-lg bg-primary-400 text-xl text-white font-sans font-medium hover:bg-primary-200 transition duration-150 ease-in-out">{{ fields.button_text_third }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>