<div class="relative py-16 lg:pt-24">
    <div class="max-w-6xl mx-auto px-4 lg:px-0 relative z-10">

        <h2 class="text-center mb-16">{{ fields.title }}</h2>

        {% component 'latestPosts' %}

    </div>
</div>
