<div class="lg:mt-24 bg-primary-100 py-8 sm:py-12 md:py-16 lg:py-20">
    <div class="{{ fields.container }} mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <h2 class="text-center mb-20">{{ fields.title }}</h2>

        <div class="md:grid md:grid-cols-2 md:gap-20 mb-12">
            {% for price in fields.cards %}
            <div class="bg-white rounded-md shadow-md relative text-center p-10 pt-0 mb-16 md:mb-0">
                <div class="{{ price.color == 'pink' ? 'bg-secondary' : 'bg-primary' }} text-white rounded-md py-3 flex flex-wrap w-full justify-center items-center shadow-float-black font-kurye -translate-y-8 text-3xl">
                    {{ price.title }}
                </div>
                <div class="text-4xl font-extrabold mb-8 font-sans">{{ price.price_label }}<br> {{ price.price }}</div>
                <div class="text-lead">
                    {{ price.content|raw }}
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="text-center px-4 sm:px-8 lg:px-12">
            {{ fields.footnote }}
            <div class="mt-8">
             <a href="{{ 'https://my.sellfies.com/register'|_ }}" class="inline-block px-8 py-2 text-xl rounded-xl bg-primary-400 text-white hover:bg-primary-200 transition duration-150 ease-in-out font-sans font-medium">{{ 'Create account'|_ }}</a></div>
        </div>
    </div>
</div>
