<div class="mb-16">
    <div class="{{ fields.container }} mx-auto px-4 lg:px-0">
        {% if fields.title %}<h2 class="text-center mb-16">{{ fields.title }}</h2>{% endif %}

        {{ fields.snippets|parseSnippets }}
    </div>
</div>
