{% set img_pos = fields.image_pos %}

<div class="mt-0 py-20 lg:mt-24 {{ fields.background }} lg:py-20">
    <div class="{{ fields.container}} mx-auto px-4 lg:px-0">
        <div class="lg:grid lg:grid-cols-2 lg:gap-24 xl:gap-36 items-center">
            <div class="{{ img_pos == 'right' ? 'order-1' : 'order-2' }} mb-16 lg:mb-0">
                <h4 class="text-primary mb-2">{{ fields.subtitle }}</h4>
                <h2>{{ fields.title }}</h2>
                <div class="prose prose-fuchsia mt-4">
                    {{ fields.content|raw }}
                </div>
            </div>
            <div class="md:px-12 lg:px-0 {{ img_pos == 'right' ? 'order-2' : 'order-1' }}">
                {% if fields.image_ornaments %}

                <div class="relative inline-block image_ornament">
                    <div class="absolute -top-6 right-0 md:-right-3 lg:-right-6"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-24 image_ornament_top" /></div>
                    <div class="image_ornament_bottom absolute -bottom-4 left-0 md:-left-4 lg:-left-8"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-24 image_ornament_bottom" /></div>
                    <img src="/storage/app/media{{ fields.image }}" alt="" class="relative block">
                </div>

                {% else %}

                <img src="/storage/app/media{{ fields.image }}" alt="" class="max-w-full">

                {% endif %}
            </div>
        </div>
    </div>
</div>
