<div class="mt-12 sm:mt-16 lg:mt-24" x-data="{ open: false }">
    <div class="max-w-5xl mx-auto px-4 lg:px-0">

        <div class="relative">
            <div class="hidden absolute lg:inset-0 lg:flex items-center justify-center lg:block h-full lg:h-auto">
                <img src="/themes/sellfies/assets/img/video-bg.png" alt="" class="block mx-auto video_background" />
            </div>
            <div class="relative z-20 py-12 sm:py-14 md:py-20 lg:py-24">
                {% if fields.subtitle %}<h4 class="text-center text-primary mb-2 relat">{{ fields.subtitle }}</h4>{% endif %}

                <h2 class="text-center relative z-50">{{ fields.title }}</h2>

                <div class="block relative mt-16 lg:w-[660px] mx-8 lg:mx-auto group">
                    <span class="absolute -inset-12 flex items-center justify-center lg:hidden">
                        <img src="/themes/sellfies/assets/img/video-bg.png" alt="" class="block w-full video_background" />
                    </span>
                    <div class="absolute -top-6 lg:-top-12 right-16"><img src="/themes/sellfies/assets/img/purple-dots.svg" alt="" class="w-12 lg:w-24 image_ornament_top" /></div>
                    <div class="absolute -bottom-4 lg:-bottom-8 left-16"><img src="/themes/sellfies/assets/img/pink-dots.svg" alt="" class="w-12 lg:w-24 image_ornament_bottom" /></div>
                    <span class="absolute inset-0 bg-white opacity-10 z-20" x-show="!open"></span>
                    <span class="absolute inset-0 flex items-center justify-center z-30" x-on:click="open = true" x-show="!open" onclick="playPause()">
                        <span class="w-24 h-12 rounded-md flex items-center justify-center bg-secondary text-primary text-xl group-hover:bg-secondary-400 shadow transition">
                            <i class="fas fa-play relative top-0.5"></i>
                        </span>
                    </span>
                    {# <img src="/storage/app/media{{ fields.video_thumb }}" alt="" class="lg:w-[660px] aspect-video shadow-md rounded block mx-auto relative z-10" /> #}
                    <video id="video" controls class="lg:w-[660px] aspect-video shadow-md rounded block mx-auto relative z-10">
                        <source src="{{ fields.video_url }}" type="video/mp4">
                        <img src="/storage/app/media{{ fields.video_thumb }}" alt="" class="lg:w-[660px] aspect-video shadow-md rounded block mx-auto relative z-10" />
                    </video>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    var video = document.getElementById("video"); 
    function playPause() { 
    if (video.paused) 
        video.play(); 
    else 
        myVideo.pause(); 
    } 
</script>