@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body { @apply font-raleway text-text antialiased; }
    h1,h2,h3 { @apply font-kurye; }
    h1 { @apply text-4xl md:text-5xl; }
    h2 { @apply text-2xl md:text-title; }
    h3 { @apply text-xl md:text-3xl; }
    h4 { @apply text-base md:text-xl font-medium tracking-tight; }
}

.faq-answer a { @apply text-primary-300; }