[x-cloak] { display: none !important; }
#hero #hero-title em {
    text-transform: none;
    font-style: normal;
    color: #E84E1B;
}
.cases_work_list ul li { list-style-type: '>'; }

@font-face {
    font-family: 'Kurye';
    src: url('/themes/sellfies/assets/fonts/Kurye-Light.woff2') format('woff2'),
    url('/themes/sellfies/assets/fonts/Kurye-Light.woff') format('woff'),
    url('/themes/sellfies/assets/fonts/Kurye-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}

/* #hero-slide-0 {
    height: calc(100vh - 134px);
} */