<div class="lg:grid lg:grid-cols-3 gap-x-16">
    <div class="bg-secondary-100 shadow-lg rounded p-8">
        <h3>Contact info</h3>
        <div class="mt-9">
            {% if this.theme.company.street %}
            <div class="flex">
                <div class="flex-shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>
                </div>
                <div class="ml-3 text-base text-antracite">
                    <p>
                        {{ this.theme.company.street}} {{ this.theme.company.housenumber }} <br>
                        {{ this.theme.company.zipcode }} {{ this.theme.company.city }}
                    </p>
                </div>
            </div>
            {% endif %}
            {% if this.theme.company.kvk %}
            <div class="mt-6 flex">
                <div class="flex-shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
                      </svg>
                </div>
                <div class="ml-3 text-base text-antracite">
                    <p>
                        <span title="Chamber of commerce number">
                            <span class="sr-only">Chamber of commerce number</span>
                            {{ this.theme.company.kvk }}
                        </span>
                    </p>
                    {% if this.theme.company.btw %}
                        <p>
                            <span title="Tax number">
                                <span class="sr-only">Tax number</span>
                                {{ this.theme.company.btw }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if this.theme.email %}
            <div class="mt-6 flex">
                <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                </div>
                <div class="ml-3 text-base text-antracite">
                    <p>
                        <a class="text-lead hover:text-primary" href="mailto:{{ html_email(this.theme.email)|raw }}">{{ this.theme.email }}</a>
                    </p>
                </div>
            </div>
            {% endif %}
            {% if this.theme.company.tos %}
            <div class="mt-6 flex">
                <div class="flex-shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                </div>
                <div class="ml-3 text-base text-antracite">
                    <p>
                        <a class="text-lead hover:text-primary" href="{{ this.theme.company.tos }}" target="_blank">Terms of service</a>
                    </p>
                </div>
            </div>
            {% endif %}
            {% if this.theme.company.privacy %}
            <div class="mt-6 flex">
                <div class="flex-shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                </div>
                <div class="ml-3 text-base text-antracite">
                    <p>
                        <a class="text-lead hover:text-primary" href="{{ this.theme.company.privacy }}" target="_blank">Privacy statement</a>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-span-2">
        <form data-request="{{ __SELF__ }}::onFormSubmit">
            {{ form_token() }}
            <div id="{{ __SELF__ }}_forms_flash"></div>
        
            <div class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                <div>
                    <label for="category" class="block text-sm font-medium text-gray-900">{{ 'Category'|_ }}</label>
                    <div class="mt-1">
                        <select id="category" name="category" class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-secondary-400 focus:border-secondary-400 border-primary rounded-md">
                            <option selected>{{ 'Support and general inquiries'|_ }}</option>
                            <option>{{ '>My account'|_ }}</option>
                            <option>{{ 'Report a copyright issue'|_ }}</option>
                            <option>{{ 'Report a legal issue'|_ }}</option>
                            <option>{{ 'Data requests under the CCPA'|_ }}</option>
                            <option>{{ 'Data requests under the GDPR'|_ }}</option>
                            <option>{{ 'Give feedback'|_ }}</option>
                            <option>{{ 'I need help with something else'|_ }}</option>
                            <option>{{ 'Just saying hi!'|_ }}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="name" class="block text-sm font-medium text-gray-900">{{ 'Name'|_ }}</label>
                    <div class="mt-1">
                        <input type="text" name="name" id="name" autocomplete="name" class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-secondary-400 focus:border-secondary-400 border-primary rounded-md" required>
                    </div>
                    <div class="mt-1">
                        <p data-validate-for="name" class="mt-2 text-sm text-red-600"></p>
                    </div>
                </div>
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-900">{{ 'Email'|_ }}</label>
                    <div class="mt-1">
                        <input id="email" name="email" type="email" autocomplete="email" class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-secondary-400 focus:border-secondary-400 border-primary rounded-md" required>
                    </div>
                    <div class="mt-1">
                        <p data-validate-for="email" class="mt-2 text-sm text-red-600"></p>
                    </div>
                </div>
                <div>
                    <div class="flex justify-between">
                        <label for="phone" class="block text-sm font-medium text-gray-900">{{ 'Phone'|_ }}</label>
                        <span id="phone-optional" class="text-sm text-gray-500">{{ 'Optional'|_ }}</span>
                    </div>
                    <div class="mt-1">
                        <input type="text" name="phone" id="phone" autocomplete="tel" class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-secondary-400 focus:border-secondary-400 border-primary rounded-md" aria-describedby="phone-optional">
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <div class="flex justify-between">
                        <label for="content" class="block text-sm font-medium text-gray-900">{{ 'Message'|_ }}</label>
                        <span id="content-max" class="text-sm text-gray-500">{{ 'Max. 500 characters'|_ }}</span>
                    </div>
                    <div class="mt-1">
                        <textarea id="content" name="content" rows="4" class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-secondary-400 focus:border-secondary-400 border border-primary rounded-md" aria-describedby="content-max" required></textarea>
                    </div>
                    <div class="mt-1">
                        <p data-validate-for="content" class="mt-2 text-sm text-red-600"></p>
                    </div>
                </div>
                <div>
                    {% partial '@recaptcha' %}
                </div>
                <div class="sm:col-span-2 sm:flex sm:justify-center">
                    <button type="submit" class="mt-2 w-full inline-flex items-center justify-center px-32 py-2 border border-transparent rounded-md text-lg font-semibold text-white bg-secondary hover:bg-secondary-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-secondary-200 sm:w-auto">
                        {{ 'Send message'|_ }}
                    </button>
        
                </div>
            </div>
        </form>
    </div>
</div>
